html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: #EDEEF0;
    margin: 0px;
}

.App {
    padding: 20px;
}

.App h1 {
    font-size: 26px;
}

.App input {
    padding: 10px;
}

.App hr {
    margin-top: 20px;
}